.Nav {
  display: flex;
  flex-direction: column;
  background-color: azure;
  width: 100vw;
  align-items: center;

  position: relative;
  top: 0;
  left: 0;
}

.greeting {
  background-color: azure;
  color: black;
  margin: 0;
  margin-top: 10px;
}
.links {
  background-color: azure;
  display: flex;
  justify-content: space-between;
  width: 85vw;
}
.home {
  background-color: azure;
}

.login {
  background-color: azure;
}

.register {
  background-color: azure;
}

.logout {
  background-color: azure;
  margin-left: 5px;
}

.profile {
  background-color: azure;
}

.userViewButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: azure;
}

.webTitle {
  background-color: azure;
  margin: 0;
  margin-top: 7px;
}

.newpost {
  background-color: azure;
  margin-left: 10px;
}
